.moviesPage {
    padding: 40px;
}

.moviesPage form {
    margin: 0 auto;
    width: 300px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.moviesPage form input {
    height: 24px;
    width: 200px;
}

@media (prefers-color-scheme: light) {
    .moviesPage form button {
        background-color: #646cff;
        color: aliceblue;
    }
    
    .moviesPage form button:hover,
    .moviesPage form button:focus {
        background-color: #535bf2;
    }
}