.movieList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.movieList li a {
    transition: border-bottom 0.3s ease;
}

.movieList li a:hover,
.movieList li a:focus {
    border-bottom: 0.5px solid white;
}

@media (prefers-color-scheme: light) {
    .movieList li a:hover,
    .movieList li a:focus {
        border-bottom: 0.5px solid rgb(27, 27, 27);
    }
}